  body {
  font-family: 'Jost', sans-serif; /* Assuming the font is 'Jost' */
  }

  /* Table Styles */
  table {
  width: 100%;
  border-collapse: collapse;
  }

  th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  }

  th {
  background-color: #f2f2f2;
  }

  /* Product Image */
  td img {
  width: 50px; /* Adjust as needed */
  }

  /* Quantity Input */
  .quantity-control {
    display: flex;
    align-items: center;
  }

  .quantity-btn {
    padding: 0 10px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .quantity-input {
    width: 40px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 1rem;
  }


  /* Cart Summary */
  .card {
  border-color: #ddd;
  }

  .card-header {
  background-color: #e2e5ee;
  }

  .card-body {
  padding: 20px;
  }

  /* Checkout Button */
  .btn-primary {
  background-color: #D19C97;
  color: #fff;
  border: none;
  padding: 15px;
  }
  
